{% extends 'pages/base.html' %}

{% block content %}
{% comment %} {% for a in data %}
    <h3>{{a.date_create}}</h3>
    
    <a href="/listdisplay/{{a.id}}">DISPLAY</a>
{% endfor %}  {% endcomment %}
<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								{% comment %} <th class="column1">No</th> {% endcomment %}
								<th class="column2">Date</th>
								<th class="column3">Task</th>
							</tr>
						</thead>
						<tbody>
								<tr>
                                {% for a in data %}
									{% comment %} <td class="column1">{{current_page.start_index|add:forloop.counter0}}</td> {% endcomment %}
									<td class="column2">{{a.date_create}}</td>
									<td class="column3"><a href="/listdisplay/{{a.id}}">DISPLAY</a></td>
								</tr>
								{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}